.about-category .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}
.about-category .heading h1{
    color: black;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 0;
    line-height: 32px;
}
.about-category .heading a{
    color: black;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 0;
    line-height: 32px;
}
.about-category .heading h1{
    font-weight: bold;
}

/*Css for filter */
.filter-bar{
    position: sticky;
    top: 56px;
}
.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.375rem;
    margin: 2rem 0;
}
.filters button{
    padding: 1.25rem;
    color: #2d2e2c;
    border:1px solid #e1e1e1;
    background-color: #fff;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    transition: .2s ease-in-out;
    margin-top: 0rem;
}
.filters button:hover{
    border-color: #898989;
}
/*//Css for filter */
