*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-clr: #2e2d2c;
  --bg-clr: #efefef;
  --white-clr: #fff;
  --h1-font-size: 3em;
  --h3-font-size: 1.25em;
  --p4-font-size: 0.875em;
  --p5-font-size: 1em;
  --spacer: 1.25rem;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: myfont;
  letter-spacing: 0.12rem;
}

@font-face {
  font-family: Founders-regular;
  src: url(/Fonts/FoundersGrotesk-Regular.woff2);
}
@font-face {
  font-family: Founders-medium;
  src: url(/Fonts/founders-grotesk-condensed-web-medium.woff2);
}
@font-face {
  font-family: Founders-light;
  src: url(/Fonts/founders-grotesk-web-light.woff2);
}
@font-face {
  font-family: Reckless-medium;
  src: url(/Fonts/RecklessNeue-Medium.woff2);
}
@font-face {
  font-family: Reckless-regular;
  src: url(/Fonts/RecklessNeue-Regular.woff2);
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--font-clr);
  font-weight: 400;
  margin-bottom: 0.275rem;
  font-family: Reckless-regular;
  font-weight: 500;
}

h3 {
  font-size: var(--h3-font-size);
  color: var(--font-clr);
  font-family: Reckless-medium;
}

span {
  font-size: 1em;
  font-weight: 400;
  font-family: Founders;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Founders-regular";
}

button {
  cursor: pointer;
}

.btn {
  font-size: 1em;
  font-weight: 500;
}

.container {
  min-height: inherit;
  padding: 0rem 4.6875rem;
  width: 100%;
}

.flex-row {
  display: flex;
}

.grid-row {
  display: grid;
}

li {
  list-style: none;
  font-family: "Founders-regular";
}

main .heading h3,
a {
  color: var(--font-clr);
}

section hr {
  border: none;
  background: rgb(107, 106, 106);
  height: 1px;
  opacity: 0.7;
}

i {
  font-family: FontAwesome;
  font-style: normal;
}

.btn button {
  font-size: 1em;
  font-weight: 600;
  color: rgb(104, 104, 104);
  border: none;
  background-color: transparent;
}

.container {
  min-height: inherit;
  padding: 0rem 4.6875rem;
  width: 100%;
}

.flex-row {
  display: flex;
}

.grid-row {
  display: grid;
}

/* ----------------text-slider------------- */
.text-slider {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0);
  overflow: hidden;
}
.text-slide {
  width: 100%;
  display: flex;
}

.text-slide a {
  min-width: 100%;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

/* -----------------//text-slider------------- */

/* <<<<<<<<<<<<----------HEADER CSS STARTS--------->>>>>>>>>> */
header {
  overflow: hidden;
}
.header-container .col-main {
  flex: 1;
}
.header-container .flex-row .column:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .flex-row .column:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 3.438rem;
  background: var(--white-clr);
  border: 1px solid var(--bg-clr);
  z-index: 1000;
  transition: all 0.3s ease-out;
}
.account-icon::before {
  content: "\EA1B";
  height: 50px;
  width: 50px;
  color: #202020;
}

.header-container.hide {
  transform: translateY(-100%);
}

.header-container .flex-row {
  padding: 0.5rem 1.375rem 0rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-container .icon-container img {
  cursor: pointer;
  width: 37px;
  height: 37px;
  opacity: 0.7;
  transition: all 5s ease-in-out;
}
/*  icon disable in desktop design */
.icon-container {
  display: none;
}
/*  icon disable in desktop design */
.hamburger-icon {
  width: 28px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s ease;
}
.hamburger-icon:hover {
  opacity: 0.3;
}
.hamburger-icon .lines {
  height: 2px;
  width: 100%;
  background-color: rgb(31, 30, 30);
  display: inline-block;
}
.hamburger-icon .first-line {
  height: 1.2px;
}
.hamburger-icon .menuText {
  font-size: 0.5rem;
  color: black;
}

.header-container .column:nth-of-type(3) i:hover {
  color: #c6c6c6;
}

.header-container .logo-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .logo-container a img {
  width: 210px;
}

.header-container .icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* susu icons */
@font-face {
  font-family: iconfont;
  src: url(/Susuicons.woff2);
}
.susu-icon-profile:before {
  content: "\EA1B";
  font-family: iconfont;
}
.susu-icon-wishlist:before {
  content: "\EA25";
  font-family: iconfont;
}
.susu-icon-bag:before {
  content: "\EA03";
  font-family: iconfont;
}
.susu-icon {
  font-size: 20px;
}
/* susu icons */

.header-container .icon img {
  transition: color 0.3s ease-in-out;
  opacity: 0.9;
}

.header-container .icon a:hover {
  opacity: 0.7;
}

.header-nav {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white-clr);
  transform: translateX(-120%);
  transition: transform 0.4s cubic-bezier(0.2, 0.4, 0.2, 1);
  z-index: 999;
  width: 28.375rem;
  padding: 0 2.125rem;
  min-height: 100vh;
  border-right: 1px solid var(--bg-clr);
}

.header-nav.active {
  transform: translateX(0);
}

body.active {
  overflow-y: hidden;
  padding-right: 17.5px;
}

.header-nav.active main {
  overflow: hidden;
}

.header-nav .header-nav-container {
  padding: 3.125rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.header-nav .header-nav-search i {
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.4s cubic-bezier(0.2, 0.4, 0.2, 1);
}

.header-nav .header-search i {
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.4s cubic-bezier(0.2, 0.4, 0.2, 1);
}

.header-nav .header-search i:hover {
  opacity: 0.4;
}

.header-nav .header-nav-search i:hover {
  opacity: 0.4;
}

.header-nav .header-nav-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header-nav .flex-row {
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;
}

.header-nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.header-nav .arrow-slide::after {
  content: "\f054";
  position: absolute;
  right: 0;
  transform: translate(-50%, 20%);
  font-family: FontAwesome;
  font-size: 14px;
  color: var(--font-clr);
  opacity: 0.4;
}

.header-nav a {
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--font-clr);
  transition: all 0.3s ease;
}

.header-nav li {
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--font-clr);
  transition: all 0.3s ease;
}

.header-nav li {
  cursor: pointer;
}

.header-nav li:hover a {
  color: #c6c6c6;
}

.header-nav .flex-row {
  cursor: pointer;
}

.header-nav .flex-row:hover a {
  color: #c6c6c6;
}

.header-nav-container .column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.header-nav-content ul:nth-of-type(3) li a {
  font-size: 1rem;
}

.header-nav .header-nav-foot {
  margin: 5rem 0 0 0;
}

.header-nav .country-selector {
  display: flex;
  position: relative;
}

.header-nav .country-selector a {
  font-size: 0.75em;
  padding: 0rem 1rem;
}
.header-nav .country-selector span:nth-of-type(1) > a {
  border-right: 1px solid grey;
}

/* right slider nav */

.header-nav .bold-heading {
  text-transform: uppercase;
  color: #898989;
  margin-bottom: 1.25rem;
  font-size: 0.75em;
}

.header-nav .right-slider > a {
  font-size: 1rem;
}

.right-slider .header-nav-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--white-clr);
}

.right-slider {
  background-color: var(--white-clr);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  transform: translate(120%);
  transition: all 0.2s ease;
}

.corpo {
  top: -590%;
}

.inner-slider {
  background-color: var(--white-clr);
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: translate(120%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

#arrow2.active + .inner-slider {
  opacity: 1;
  visibility: visible;
  transform: translate(0%);
}

#arrow.active + .right-slider {
  opacity: 1;
  visibility: visible;
  transform: translate(0%);
}

.header-nav-search.active + .right-slider {
  transform: translateX(120%);
}

.header-search.active + .inner-slider {
  transform: translate(120%);
}

.right-slider a {
  font-size: 1rem;
}

/* search div */
.search-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--white-clr);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translate(111%);
  transition: all 0.2s ease-in;
}

#arrow.active + .search-bar {
  opacity: 1;
  visibility: visible;
  transform: translate(0%);
}

.search-bar input {
  border: none;
  padding: 0.5rem 0 0.5rem 3rem;
  border-bottom: 1px solid black;
}

.search-bar .column:nth-of-type(2) {
  position: relative;
}

.search-bar input::after {
  content: "\f002";
  color: black;
  position: absolute;
  font-family: FontAwesome;
}

.search-bar .column:nth-of-type(2) i {
  position: absolute;
  top: 20%;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.grey {
  color: #2e2d2c;
  font-family: Reckless-medium;
}

input::placeholder {
  color: #c6c6c6;
  font-size: 1rem;
  /* padding-left: 2rem; */
}

/* search div */

/*  OVERLAY */
.header-nav.active + .header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-out;
}

/*  /OVERLAY */

/* ADD TO CART SECTION */
.AddtoCart {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--white-clr);
  transform: translateX(120%);
  transition: transform 0.4s cubic-bezier(0.2, 0.4, 0.2, 1);
  z-index: 1000;
  width: 28.375rem;
  padding: 0 2.125rem;
  min-height: 100vh;
  border-right: 1px solid var(--bg-clr);
}
.AddtoCart.active {
  transform: translateX(0);
}
.AddtoCart.active + .header-overlay2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-out;
}
.AddtoCart.active main {
  overflow: hidden;
}
.AddtoCart h1 {
  color: black;
  font-size: 1.8rem;
}
.AddtoCart button {
  color: #2d2e2c;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
.AddtoCart button:hover {
  border-color: #898989;
}

@media (max-width: 750px) {
  .AddtoCart h1 {
    font-size: 1.3rem;
  }
}
/* ADD TO CART SECTION */
/* <<<<<<<<<<<<----------HEADER CSS ENDS--------->>>>>>>>>> */

/* <<<<<<<<<<----------MAIN SECTION CSS STARTS--------->>>>>>>> */

/* --------------------------------section 1 */

.section1 {
  margin-bottom: 7rem;
  height: 100%;
  width: 100%;
}
.section1 .heroimg img {
  width: 100%;
  height: 100%;
}
.section1 .content {
  position: absolute;
  width: 100%;
  display: flex;
  padding-left: 5rem;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  top: 65%;
  gap: 0.5rem;
}
.section1 .content h1 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.section1 .content .white {
  color: #fff;
}
.section1 .heroimg {
  width: 100%;
  height: 100%;
}
.section1 .heroimgmobile {
  display: none;
}
.section1 .heroimglast {
  display: none;
}
.section1 .heroimgtab {
  display: none;
}

/* ---------------------//section 1 */

/* ---------------------section 2 */
.section2 {
  padding: 0.7rem;
}
.section2 .contain {
  padding: 0 0 0 0rem;
}
.section2 .contain .heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section2 .contain .about {
  padding-top: 12px;
}
.section2 .contain .about a:nth-of-type(1) {
  color: var(--font-clr);
  transition: opacity 0.3s ease;
  font-size: 1.2rem;
  font-family: "Founders-regular";
}
.section2 .contain .about a:nth-of-type(2) {
  font-size: 1rem;
}
.section2 .contain .about a:nth-of-type(1):hover {
  opacity: 0.6;
}
.section2 .contain .about .price {
  margin-top: 0.3rem;
  color: gray;
  font-weight: 300;
  font-family: "Founders-regular";
}
.section2 .about {
  text-align: center;
}

/* ---------------------section 2 */
/* --------------------------//section4 */
/* --------------------------//section4 */
/* <<<<<<<-----MEDIA QUERY FOR MAIN SECTION ENDS----->>>>>>> */

/* section3 */
/* ------------------------SECTION-SUIT */
.white {
  color: var(--white-clr);
}

.section3 {
  position: relative;
  margin-bottom: 7rem;
}
.section3 .section1 .content {
  padding: 0 0 0 0px;
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
}
.section3 .section1 .content h4 {
  font-size: 52px;
  font-family: Reckless-regular;
  color: #fff;
}
.section3 .container {
  padding: 0;
  width: 100%;
}

.section3 .container .suit {
  margin: auto;
}

.section3 .container .suit img {
  max-width: 100%;
}

.section3 .container .content {
  position: absolute;
  left: 5%;
  top: 55%;
}

/* ------------------------//SECTION-SUIT */
/* //section3 */

/* -----------------------------section4 */
.section4 {
  margin-bottom: 7rem;
}
.section4 .container .heading {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section4 .container {
  width: 100%;
}
.section4 .column span {
  font-size: 16px;
  margin-top: 1rem;
  font-family: Founders-regular;
  color: var(--font-clr);
}
.section4 .column p {
  font-size: 20px;
  max-width: 372px;
  margin-top: 0.5rem;
  font-family: Founders-regular;
  font-weight: 600;
  color: var(--font-clr);
}
.section4 .container .flex-row {
  gap: 0.7rem;
}
.section4 .container .column {
  aspect-ratio: 578/694;
  cursor: pointer;
  flex-grow: 1;
}
.section4 .blog-content {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}
.section4 .column:hover .blog-content {
  opacity: 0.6;
}

.section4 .container .column img {
  width: 100%;
}
/* .owl-carousel .owl-theme .scroll {
  overflow-x: scroll;
} */
/* ------------------------------//section4 */
/* <<<<<<<<<<----------MAIN SECTION CSS ENDS--------->>>>>>>> */
/* SECTION 7 CSS STARTS */

/* TYPOGRAPHY -----------------*/
.section7 h3 {
  font-size: var(--h3-font-size);
  color: white;
  font-weight: 600;
  font-family: Founders-regular;
}

/* TYPOGRAPHY --------------------*/

.section7 {
  background-color: black;
}

.section7 .mail {
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem;
}

.section7 .mail .equal {
  flex: 1;
}

.section7 .mail input {
  width: 100%;
  padding: 1.5rem;
  background-color: #202020;
  font-size: var(--p4-font-size);
  outline: none;
  border: none;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  border: 1px solid #202020;
  color: var(--white-clr);
}

.section7 .mail input:hover {
  background-color: #252525;
  border: 1px solid #252525;
}

.section7 .r-content {
  position: relative;
}

.section7 .r-content button {
  margin: 0;
  position: absolute;
  right: 0;
  padding: 1.5rem;
  outline: none;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: transparent;
  color: var(--white-clr);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.section7 .r-content button:hover {
  color: #898989;
}

/* //SECTION 7 CSS ENDS */

/* FOOTER CSS STARTS  */

/* Footer Typography---------------- */
.foot-Links li {
  list-style: none;
  color: white;
  opacity: 0.8;
}

.foot-Links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}
.accordion .label {
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 1rem 0;
  cursor: pointer;
  font-family: Founders-light;
}

.footer .newsletter a {
  font-size: var(--p4-font-size);
  font-weight: 300;
  color: var(--white-clr);
  transition: color 0.2s ease-in-out;
}

.terms a {
  font-size: 0.75em;
  color: white;
  transition: color 0.3s ease-in-out;
}

/* //Footer Typography------------------- */

.footer {
  background-color: black;
}

.footer hr {
  border: none;
  background: grey;
  height: 1px;
}

.foot-nav {
  padding: 5rem 0rem;
}

/* ACCORDION STARTS */
.foot-Links .whats {
  display: flex;
  gap: 2rem;
}

.foot-Links .email {
  display: flex;
  gap: 4rem;
}

.foot-Links .contact-social {
  display: flex;
}

.foot-Links a:hover {
  color: #898989;
}

.accordion {
  display: flex;
  justify-content: space-between;
}

.foot-Links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

/* ACCORDION ENDS */

/* newsletter css starts */
.footer .newsletter {
  display: flex;
  gap: 1rem;
  padding: 4rem 0rem;
}

.footer .newsletter .social-icons {
  display: none;
}

.footer .newsletter a:hover {
  color: #898989;
}

/* newsletter css ends */

/* terms and condition css starts */
.footer .terms {
  padding: 2rem 0;
}

.terms i {
  font-family: FontAwesome;
  display: inline-block;
  color: white;
  font-size: 1.5em;
  font-style: normal;
}

.terms a:hover {
  color: #898989;
}

.terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms .country {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.terms .country > span:nth-of-type(1) {
  border-right: 1px solid white;
  padding-right: 0.5rem;
}

.terms .social-icons {
  display: flex;
  gap: 2rem;
}

.terms .social-icons i {
  color: white;
  transition: color 0.3s ease-in-out;
}

.terms .social-icons i:hover {
  color: grey;
}

/* terms and condition css ends */

/* FOOTER CSS ENDS  */

/* STYLING FOR FAQ FLOATING ICON STRATS */
.faq-icon {
  background: rgb(51, 51, 51);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.33, 0, 0, 1) 0s;
}

.faq-icon:hover {
  transform: scale(1.1);
}

.faq-icon > i:nth-of-type(1) {
  color: white;
  font-size: 1.5rem;
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  transform: rotate(0deg) scale(1);
}
.faq-icon.active i:nth-of-type(1) {
  opacity: 0;
  visibility: hidden;
  transform: rotate(-60deg) scale(0);
}

.faq-icon > i:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
  font-family: FontAwesome;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: rotate(60deg);
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
}

.faq-icon.active > i:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
  opacity: 1;
  visibility: visible;
  transform: rotate(0deg);
}

.faq {
  position: fixed;
  top: 92%;
  right: 0.5%;
  z-index: 998;
}

.pop-up {
  width: 23.5rem;
  height: 44rem;
  background: rgb(255, 255, 255);
  position: absolute;
  left: -540%;
  top: -717px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
  transition: transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s,
    opacity 83ms ease-out 0s;
  transform: scale(0);
}

/* active chatbox interface */
.pop-up.active {
  opacity: 1;
  transform-origin: right bottom;
  visibility: visible;
  transform: scale(1);
}

/* active chatbox interface */

.pop-up .info {
  background: linear-gradient(135deg, rgb(51, 51, 51) 0%, rgb(0, 0, 0) 100%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pop-up .t-images {
  display: flex;
}

.pop-up .t-images img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.info-1 {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-1 h2 {
  font-size: 1rem;
  line-height: 1.2em;
}

.info-1 span {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
}

.info-1 i {
  font-size: 1.2rem;
}

.info-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info-2 .online span:nth-of-type(1) {
  font-size: 0.815rem;
  color: rgba(255, 255, 255, 0.7);
}

.info-2 .online span:nth-of-type(2) {
  font-size: 0.815rem;
  font-weight: bold;
  color: var(--white-clr);
}

.info-2 .online span:nth-of-type(2)::before {
  content: "\f017";
  display: inline-block;
  font-family: FontAwesome;
  padding-right: 0.5rem;
}

/* CHATBOX CSS STARTS */
.chatBox {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  font-size: 0.815rem;
  line-height: 1.4;
}

.chatBox .client-chat {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1rem;
  display: inline-block;
  max-width: 60%;
}

.chatBox .my-chat {
  background-color: rgb(245, 245, 245);
  color: black;
  border-radius: 5px;
  padding: 1rem;
  max-width: 60%;
  display: inline-block;
  margin-left: 8rem;
}

.chat-footer {
  border-top: 1px solid rgb(196, 192, 192);
  height: 10%;
  padding: 0rem 1rem;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
}

.chat-footer input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0rem 1rem;
}

.chat-footer .m-icons {
  display: flex;
  gap: 0.5rem;
}

.chat-footer .m-icons i {
  color: black;
  font-size: 1rem;
}

/* CHATBOX CSS ENDS*/
/* STYLING FOR FAQ FLOATING ICON ENDS */

/* ================= MEDIA QUERIES STARTS============= */

/* <<<<<<<-----MEDIA QUERY FOR HEADER STARTS----->>>>>>> */
@media screen and (min-width: 260px) and (max-width: 750px) {
  .header-container .icon i {
    font-size: 1rem;
  }

  .header-nav {
    width: 20.375rem;
  }
  .AddtoCart {
    width: 20.375rem;
  }

  .header-container .logo-container a img {
    width: 170px;
  }
  .icon-container {
    display: none;
  }

  .header-container .flex-row {
    padding: 0.8rem 1.375rem 0rem;
  }
  .hamburger-icon {
    gap: 0.25rem;
  }
}
@media (max-width: 440px) {
  .header-container .logo-container a img {
    width: 140px;
  }
  .header-container .icon img {
    height: 20px;
    width: 17px;
  }
}
/* <<<<<<<-----MEDIA QUERY FOR HEADER ENDS----->>>>>>> */

/* <<<<<<<-----MEDIA QUERY FOR MAIN STARTS----->>>>>>> */

/* media queriy for main section */
@media screen and (max-width: 1200px) {
  /* ---------------------------section1 */
  .section1 .content {
    width: 100%;
    text-align: center;
    padding-left: 0;
    top: 70%;
    left: 0;
  }

  .section1 {
    margin-bottom: 7rem;
    height: 100%;
    width: 100%;
  }

  .section1 .heroimg {
    width: 100%;
    height: 100%;
  }

  .section1 .heroimg img {
    width: 100%;
    height: 100%;
  }

  /*-----------------------------section1 */

  /* ----------------------------section2 */
  .section2 {
    padding: 0 1rem;
  }

  .section2 .contain {
    padding-left: 0rem;
  }

  .section2 .contain .heading {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* -------------------------------section2 */

  .section-suit {
    margin-bottom: 5rem;
  }

  /* -------------------------------section4 */
  .owl-carousel .owl-nav button span {
    display: none;
  }

  /* ----------------------------section4 */

  /* -----------------------------section5 */
  .section4 .container .heading {
    padding: 0 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section4 .container {
    padding: 0rem;
  }

  .section4 .container .flex-row {
    padding: 0 1rem;
  }

  /* .section4 .container .column img {
    height: 43.375rem;
    width: 33.625rem;
  } */

  .section4,
  .section1,
  .section2,
  .section3 {
    margin-bottom: 5rem;
  }

  /* .section4 .container .flex-row {
    overflow-x: scroll;
    padding-bottom: 1rem;
  } */
}

@media screen and (max-width: 1024px) {
  body.active {
    padding-right: 0rem;
  }

  .section1 .content {
    width: 100%;
    text-align: center;
    top: 60%;
    left: 0;
  }

  .section1 {
    margin-bottom: 6rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section1 .heroimg {
    width: 100%;
    height: 100%;
  }
  .section3 .main-img img {
    display: none;
  }
  .section3 .container .suit img {
    max-width: 100%;
  }
  /* --------------------------------section1 */
}

@media screen and (max-width: 850px) {
  /* ------------------------section1 */
  .section1 {
    margin-bottom: 3rem;
    height: 100%;
    width: 100%;
  }

  .section1 .content {
    top: 50%;
  }

  /* -------------------------//section1 */
  /* ------------------------section3-suit */
  .section3 .container .content {
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0%;
    top: 50%;
  }

  .section3 .container .content h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  /* --------------------------section3-suit */
}

@media screen and (max-width: 800px) {
  .section1 .heroimg {
    width: 100%;
    height: 100%;
    display: none;
  }
  .section1 .heroimgmobile {
    width: 100%;
    height: 100%;
    display: block;
  }
  .section1 .heroimgmobile img {
    width: 100%;
    height: 100%;
  }

  .section1 .heroimg img {
    width: 100%;
    height: 100%;
  }

  .section1 .content {
    top: 85%;
  }
}

@media screen and (max-width: 684px) {
  /* ----------------------section1 */
  .section1 .content {
    top: 80%;
  }

  .section1 .content h1 {
    font-size: 3rem;
  }
  .section1 .content span {
    font-size: 1.2rem;
  }
  .section1 .heroimgmobile {
    width: 100%;
    height: 100%;
    display: block;
  }
  .section1 .heroimgmobile img {
    width: 100%;
    height: 100%;
  }

  .section2 .contain .about a:nth-of-type(1) {
    color: var(--font-clr);
    transition: opacity 0.3s ease;
    font-size: 1.5rem;
    font-family: "Founders-regular";
  }

  .section3 .section1 .content h4 {
    font-size: 2.5rem;
    white-space: nowrap;
  }

  .section4 .container {
    padding: 0rem;
  }
  .section4 .container .flex-row {
    flex-direction: column;
    gap: 2rem;
  }

}

@media screen and (max-width: 614px) {
  .section1 .content {
    width: 100vw;
    top: 80%;
  }
}

@media screen and (max-width: 600px) {
  /* --------------------------section1 */
  .section1 {
    margin-bottom: 5rem;
    height: 100%;
    width: 100%;
  }

  .section1 .content {
    width: 100vw;
    top: 80%;
  }
  .section1 .heroimgmobile {
    width: 100%;
    height: 100%;
    display: none;
  }
  .section1 .heroimglast {
    display: block;
    height: 100%;
    width: 100%;
  }
  .section1 .heroimglast img {
    height: 100%;
    width: 100%;
  }

  /* --------------------------//section1 */
}

@media screen and (max-width: 422px) {
  /* -------------------------section1 */
  .section1 {
    margin-bottom: 4rem;
    height: 100%;
    width: 100%;
  }

  .section1 .content {
    width: 100vw;
    top: 60%;
  }

  .section1 .content h1 {
    font-size: 3rem;
  }
  .section2 h1 {
    font-size: 1.1rem;
  }

  /* -------------------------//section1 */

  /* -------------------------section2 */
  .section2 .contain .heading {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section2 .contain {
    padding: 0rem;
  }

  /* -------------------------//section2 */

  /* -------------------------section3 */
  .section3 .images {
    height: 100%;
    transform: translate(-80px, 25%);
  }

  .section3 .images img {
    height: 50%;
  }

  /* -------------------------//section3 */

  /* --------------------------section4 */
  /* .section4 .container {
    padding: 0rem;
  } */

  /* .section4 .container .column img {

  }
  .section4 .container .column {
    max-width :100px ;
  } */

  /* --------------------------//section4 */
}

@media screen and (min-width: 200px) and (max-width: 335px) {
  .section1 .content {
    width: 100vw;
    top: 80%;
  }
}

/* <<<<<<<-----MEDIA QUERY FOR MAIN SECTION ENDS----->>>>>>> */
/* <<<<<<<-----MEDIA QUERY FOR MAIN SECTION ENDS----->>>>>>> */

/* <<<<<<<-----MEDIA QUERY FOR FOOTER STARTS----->>>>>>> */

/* media query for TABLET DESIGN */
@media (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }

  .container {
    padding: 0rem 4rem;
  }

  .section7 .mail {
    flex-direction: column;
    gap: 2rem;
  }
  .section7 h3 {
    font-size: 1.2rem;
  }

  .section7 .mail .equal {
    width: 100%;
  }

  .section7 hr {
    display: none;
  }

  .section7 .r-content button {
    font-size: var(--p4-font-size);
  }

  .foot-nav {
    flex-direction: column;
  }

  .foot-nav {
    padding: 0rem 0rem;
  }

  .accordion {
    flex-direction: column;
  }

  .accordion .label {
    font-size: 0.8rem;
  }

  .accordion .contentBx {
    border-bottom: 1px solid rgb(107, 106, 106);
    padding: 1rem 0;
  }

  .accordion .contentBx .label::after {
    content: "+";
    position: absolute;
    right: 0;
    font-size: 1.5em;
    font-family: fangsong;
    font-weight: lighter;
    top: 20%;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
  }

  .accordion .contentBx.active .label::after {
    content: "-";
    transform: rotate(180deg);
  }

  /* active class to accordion */
  .accordion .contentBx .content {
    position: relative;
    max-height: 0;
    padding: 0rem 0;
    overflow: hidden;
    transition: max-height 0.2s, padding 0.2s;
  }

  .accordion .contentBx.active .content {
    max-height: 400px;
    padding: 1rem 0rem;
  }

  /* active class to accordion */

  .footer .sustainibility {
    justify-content: center;
  }

  .faq {
    top: 90%;
    right: 2.5%;
  }
}

/* media query for TABLET DESIGN */
@media (max-width: 650px) {
  .container {
    padding: 0rem 1rem;
  }
  .section7 h3 {
    font-size: 1rem;
  }

  .findStore .l-content {
    padding: 1rem;
  }

  .categories {
    padding: 1rem 0;
  }

  .footer .sustainibility .social-icons {
    display: flex;
    gap: 1rem;
  }

  .footer .sustainibility {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .terms .social-icons {
    display: none;
  }

  .accordion .label {
    padding: 0.6rem 0;
  }
}

/* POP UP WILL BE DISPLAYED AS A FULL WITH CHATBOX */
@media (max-width: 475px) {
  .pop-up.active {
    position: static;
    height: 101vh;
    width: 103%;
    border-radius: 0px;
    transform: translateY(-97%);
  }

  .pop-up .info {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

/* POP UP WILL BE DISPLAYED AS A FULL WITH CHATBOX */

/* <<<<<<<-----MEDIA QUERY FOR FOOTER ENDS----->>>>>>> */

/* ================= /MEDIA QUERIES ENDS============= */

/* -----------Product-page----------- */

/* -----Button - Font Styling -----  */
.section-product h2 {
  font-size: 1.5rem;
  line-height: 50px;
  font-weight: 700;
  white-space: nowrap;
  font-family: 'Founders-light';
}
.section-product h4 {
  font-size: 35px;
  font-weight: 400;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.section-product button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid rgb(196, 196, 196);
}
.section-product .wishlist {
  min-width: 46px;
  height: 46px;
  background-color: #fff;
  transition: .3s ease;
}
.section-product .wishlist:hover {
  border: 1px solid black;
}

.section-product .customize {
  border: 1px solid #e1e1e1;
  transition: .3s ease;
}
.section-product .customize:hover {
  border: 1px solid black;
}
.section-product .select-size {
  background-color: var(--font-clr);
  color: #fff;
  min-width: 299px;
  border: 1px solid black;
  transition: .3s ease;
}
.section-product .select-size:hover {
  background-color: black;
}
.section-product .wishlist img {
  width: 20px;
  height: 25px;
}
.section-product .customize {
  min-width: 100%;
  margin-top: 0.5rem;
  background-color: #fff;
}
/* -----//Button - Font Styling -----  */
.section-product {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-product .grid-row {
  grid-template-columns: 1fr 3fr 2fr;
}
.mainscroller {
  max-width: 455px;
  margin-right: auto;
  margin-left: auto;
}
.scrolling-images-container {
  position: sticky;
  top: calc(10vh);
  margin-bottom: 20rem;
}
.section-product .customize img {
  width: 20px;
  margin-right: 0.5rem;
  transition: transform 0.4s ease-out;
}
.section-product .customize:hover img {
  transform: rotate(360deg);
}
.section-product .scrolling-images-container .sliderimg {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease;
  max-width: 103px;
  height: 150px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}
.section-product .scrolling-images-container .sliderimg:hover {
  opacity: 1;
  border: 1px solid black;
}
.section-product .scrolling-images-container .sliderimg--active {
  opacity: 1;
  border: 1px solid black;
}
.section-product .scrolling-images-container .sliderImg img {
  width: 100%;
  height: 100%;
}
.section-product .buttons-container .flex-row {
  gap: 0.5rem;
}
.section-product .price {
  font-size: 20px;
  color: var(--font-clr);
}
.section-product .product-images {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-product img {
  width: 100%;
}
.section-product .sub-image-container {
  padding: 2.5rem 0 2.5rem 2.5rem;
  max-width: 100%;
  display: flex;
  gap: 2rem;
}
.section-product .sub-image-container img {
  width: 70%;
}
.section-product .data {
  width: 25%;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-inline: auto;
}
.section-product .data p {
  min-width: 200px;
  color: #5f5f5f;
}
.productdetails {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 0 0 0;
}
.details {
  width: 100%;
  position: sticky;
  top: calc(14vh);
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.section-product .product-details .product-name-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-product .productdetails .offers {
  font-size: 16px;
  color: black;
  text-align: center;
}
.cross {
  display: none;
}
.frequent-product .productdetails {
  display: none;
}
.display-none {
  display: none;
}
/* ----------------------------------product-Accordion */

.section-product .product-accordion {
  padding: 0 0.5rem;
  width: 100%;
}
.section-product .product-accordion .contentbox {
  position: relative;
  width: 100%;
}
.section-product .product-accordion .contentbox .label {
  width: 100%;
  color: #898989;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
}
.section-product .discription {
  color: #898989;
  margin: 1rem 0 2rem 0;
  padding: 0 2rem;
}
.section-product .discription ul li {
  list-style: initial;
}
.section-product .discription ul li p {
  font-size: 18px;
  line-height: 1.6rem;
}
.section-product .product-accordion .label i {
  font-size: 17px;
  transition: all 0.2s ease-in;
}

.section-product .product-accordion .label {
  font-size: 1.1rem;
}
.section-product .product-accordion .contentbox.active .label i {
  transform: rotate(180deg);
}
.product-accordion .contentbox .content {
  margin: 0.3rem 0;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: all 0.2s ease-in;
}
.section-product .product-accordion .contentbox.active .content {
  max-height: 800px;
  margin: 0.5rem 0 1rem 0;
}
.section-product .product-accordion table {
  margin: none;
}
.section-product .product-accordion table th {
  font-weight: 300;
  color: #454545;
  display: flex;
  justify-content: left;
  font-size: 1rem;
  font-family: 'Founders-regular';
}
.section-product .product-accordion table tr {
  font-size: 18px;
  font-weight: 300;
  color: #5f5f5f;
  font-size: 1rem;
  font-family: 'Founders-regular';
}
.section-product .heading {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-product .heading h3 {
  margin-top: 2.2rem;
  font-size: 2.2rem;
}
.section-product .slider {
  margin-top: 5rem;
}
.section-product .overlay {
  position: relative;
}

.section-product .overlay .mask {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0%;
  position: absolute;
}
.section-product .overlay .mask.active {
  display: none;
}
.section-product .overlay .mask h3 {
  font-size: 30px;
  text-align: center;
}
.section-product .overlay .mask .get-started {
  margin-top: 1rem;
  height: 47px;
  width: 142px;
  background-color: #fff;
  border: none;
}
.section-product .overlay .mask .get-started:hover {
  border: 1px solid black;
}
.section-product .overlay .mask .get-started img {
  width: 20px;
  margin-right: 0.5rem;
}
.section-product .mask .left-arrow {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 2%;
}
.section-product .right-arrow {
  position: absolute;
  top: 49%;
  left: 96%;
  height: 50px;
  width: 50px;
}
.section-product .about {
  padding: 0.5rem 2rem;
}
.section-product .about a {
  font-size: 16px;
}

/* -------------------------------<<<<<<<<<Product-section -media */
@media screen and (max-width: 1180px) {
  .section-product .product-accordion {
    width: 80%;
  }
  .section-product .select-size {
    background-color: var(--font-clr);
    color: #fff;
    min-width: 250px;
  }
  .section-product .customize {
    min-width: 304px;
    margin-top: 0.5rem;
    background-color: #fff;
  }
  .productdetails {
    max-width: 455px;
    margin-right: 0rem;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 978px) {
  .section-product .select-size {
    background-color: var(--font-clr);
    color: #fff;
    min-width: 200px;
  }
  .section-product .product-accordion {
    width: 100%;
  }
  .section-product .customize {
    min-width: 254px;
    margin-top: 0.5rem;
    background-color: #fff;
  }
}
@media screen and (max-width: 798px) {
  .section-product .grid-row {
    grid-template-columns: 1fr;
  }
  .mainscroller .scrolling-images-container {
    display: none;
  }
  .section-product .select-size {
    background-color: var(--font-clr);
    color: #fff;
    min-width: 299px;
  }
  .section-product .customize {
    min-width: 354px;
    margin-top: 0.5rem;
    background-color: #fff;
  }
  .section-product .product-accordion {
    width: 354px;
  }

  /* ----------media--for tab-design of product-page- */
  .productdetails {
    max-width: 455px;
    margin-bottom: -17rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem 1rem 0 1rem;
  }
  .frequent-product .productdetails {
    display: block;
  }
  .display-none {
    display: block;
  }
  .productdetails {
    padding: 0;
  }
  .product-details .product-name-price{
   display: flex;
  }
  .cross {
    display: block;
  }
  .display-block {
    display: none;
  }
  .display-none {
    display: block;
  }
  .details {
    position: static;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Founders-regular';
}
  .productdetails .material {
    height: 20px;
  }
  .sticky-product {
    padding-top: 2rem;
    user-select: none;
    cursor: move;
    z-index: 1000;
    position: fixed;
    top: calc(-50vh);
    top: 77%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.4s ease;
}
  .section-product .discription {
    color: #898989;
    margin: 1rem 0 2rem 0;
    padding: 0 14px;
}
  .sticky-product {
    height: 100%;
    width: 100%;
  }
  .sticky-product .cross {
    z-index: 900;
    position: fixed;
    display: none;
    left: 90%;
    top: 1rem;
    font-size: 1.4rem;
    color: #5f5f5f;
    transition: all 0.3s ease;
  }
  .sticky-product.active {
    top: 0%;
    overflow: scroll;
  }
  .sticky-product.active .cross {
    display: block;
  }
}
/* -----media-for tab-design of product-page- */
/* ----------------------------------//Product-section -media */
/* -------------------------------------------<<<<<<<<<<<<<//product-Accordion */
/* ---------------------------------------------------------------//Product-page----------- */

/* ---------------------cetagories-page */
.categories-images-main {
  width: 100%;
  margin: 2rem 0;
}
.categories-images-main img {
  width: 100%;
}
.categories-images-main .about {
  padding: 0.5rem 1rem;
}

.categories-images-main .flex-row {
  gap: 0.5rem;
}
.categories-images-main .flex-row .item {
  width: 100%;
}
.sub-cetagories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
}
.sub-cetagories h1,
.luxury,
.discoverbtn {
  color: black;
}
.about-item {
  font-size: 14px;
  color: #898989;
  color: #898989;
  line-height: 1.5rem;
}
.sub-cetagories h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.17rem;
}
.sub-cetagories .luxury {
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
  line-height: 2rem;
}
.sub-cetagories .discoverbtn {
  padding: 1.1rem 3rem;
  color: #2d2e2c;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  transition: 0.2s ease-in-out;
  margin-top: 1.5rem;
}
.sub-cetagories .discoverbtn:hover {
  border-color: #898989;
}
.sub-cetagories .main-img {
  width: 45%;
  margin-bottom: 2rem;
}
.sub-cetagories .main-img img {
  width: 100%;
}

/* ---------------------cetagories-page */

@media screen and (max-width: 769px) {
  .categories-images-main .flex-row {
    gap: 2.5rem;
    flex-direction: column;
  }
}

/* CORPORATE CSS */
.corporate-container .grid-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.slideshow-container .mySlides img {
  width: 100%;
  height: 100%;
}

.corporate-container .flex-column {
  gap: 4rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 5.25rem 0;
}

.corporate-container .store-locator {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corporate-container .list-address .flex-row::after {
  content: "\f054";
  position: absolute;
  top: 40%;
  right: 0;
  font-family: FontAwesome;
  font-size: 14px;
  color: var(--font-clr);
  opacity: 0.4;
}
.corporate-container .list-address {
  position: relative;
  cursor: pointer;
}

.corporate-container .list-address:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.corporate-container .list-address::after {
  content: "";
  width: 100%;
  height: 1px;
  height: 1px;
  border: 1px solid #e7e7e7;
  position: absolute;
  top: -10%;
  left: 0;
}

.corporate-container .list-address::before {
  content: "";
  width: 100%;
  height: 1px;
  height: 1px;
  border: 1px solid #e7e7e7;
  position: absolute;
  bottom: -10%;
  left: 0;
}

.corporate-container h1 {
  font-size: 2.5rem;
  color: black;
}

.corporate-container .country-select {
  outline: none;
  width: 16rem;
  height: 3.1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: 1px solid var(--bg-clr);
  transition: all 0.3s ease;
  display: block;
}

.corporate-container .country-select:hover {
  border: 1px solid black;
}

.corporate-container .list-address h3 {
  font-size: 1.125rem;
  line-height: 1.4rem;
}

.corporate-container .list-address p {
  font-size: 0.938rem;
  line-height: 1.4rem;
}
.corporate-container .list-address a {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* MEDIA QUERY */
@media (max-width: 823px) {
  .corporate-container .grid-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .corporate-container .flex-column {
    gap: 4rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem 0;
  }
}

/* MEDIA QUERY */
/* /CORPORATE CSS */

/*SLIDER IMAGES  */
.mySlides {
  display: none;
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */

.dots {
  position: absolute;
  bottom: 3%;
  left: 50%;
  text-align: center;
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*SLIDER IMAGES  */

/* <!-- FREQUENTLY BOUGHT TOGETHER css starts */
.frequent-product .container {
  padding: 0rem 7.2rem;
}
.frequently h1 {
  color: black;
  font-size: 1.5rem;
}
.frequently span {
  color: black;
}
.frequently {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem 0rem;
}
.frequently hr {
  width: 100%;
}
.frequent-items {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.frequent-items .price button {
  padding: 1rem;
  border-radius: 0px;
  border-radius: 0px;
  letter-spacing: 2.2px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 0.8rem;
}
.frequent-items .price button:hover {
  border: 1px solid black;
}
.frequent-items img {
  width: 83px;
  height: 125px;
}
.frequent-items #plus {
  font-size: 1.7rem;
}
.frequent-items .price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.checkBoxes {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.checkBox select {
  height: 36px;
  width: 50px;
  text-align: center;
}
.checkBox label {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 0.8;
  font-family: Founders-regular;
}
.checkBox span {
  font-size: 1.1rem;
  opacity: 0.8;
}
.checkBox:nth-of-type(2) label {
  font-weight: 400;
}
.checkBox:nth-of-type(3) label {
  font-weight: 400;
}

/* <!-- FREQUENTLY BOUGHT TOGETHER css ends*/
/* media query for frequently add products */
@media (max-width: 785px) {
  .frequent-items {
    flex-wrap: wrap;
  }
  .frequent-product .container {
    padding: 0rem 1rem;
  }
}

@media (max-width: 532px) {
  .checkBox label {
    font-size: 1rem;
    letter-spacing: 2.2px;
  }
}

/* media query for frequently add products */

/* -----------//Product-page----------- */

/* LOG IN PAGE CSS STARTS */
.logIn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
  min-height: 76vh;
}
.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.logIn-container input {
  padding: 1rem 2rem;
  width: 20rem;
  color: #2d2e2c;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}
.logIn-container p {
  color: #919090;
  font-weight: 400;
  margin-bottom: 1rem;
}
.logIn-container input:hover {
  border-color: #898989;
}
.logIn-container button {
  border: none;
  outline: none;
  font-size: 0.875rem;
  width: 20rem;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding: 0.875rem 2rem;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.login #continue-btn {
  background-color: #2d2e2c;
  color: white;
}
.login #continue-btn:hover {
  background-color: #000;
}

.login #apple-btn {
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-size: 1.2rem;
}
.login #apple-btn:hover {
  border-color: #898989;
}

.login span {
  width: 100%;
  color: black;
  position: relative;
}
.login span:before {
  content: "";
  width: 45%;
  background-color: #e1e1e1;
  height: 1px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 40%;
}
.login span:after {
  content: "";
  width: 45%;
  background-color: #e1e1e1;
  height: 1px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 40%;
}
.login h1 {
  font-size: 2rem;
}
/* footer log in page */
.logIn-footer {
  padding: 1.5rem 1.375rem;
  border-top: 1px solid #e1e1e1;
}
.logIn-footer .terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.logIn-footer span {
  color: #919090;
  cursor: pointer;
}
.logIn-footer span:hover {
  color: #b4b1b1;
}

.logIn-footer .social-accounts {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
/* footer log in page */
/* LOG IN PAGE CSS ENDS */

/* ------------------------BOOKMARK - PAGE */
.bookmark {
  height: 60vh;
  width: 100%;
}

/* -------------Font-styling */
.bookmark h1 {
  color: var(--font-clr);
  font-size: 31px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.bookmark p {
  max-width: 350px;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 0.5rem;
  color: #2d2e2c;
}
/* -------------//Font-styling */

/* ------------button-styling */
.bookmark .login {
  height: 46px;
  width: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-clr);
  color: #fff;
  border-radius: 5px;
  border: 1px solid gainsboro;
  transition: all 0.2s ease-in-out;
}
.bookmark .login:hover {
  background-color: #000;
}
.bookmark .newarrival {
  height: 46px;
  width: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.bookmark .newarrival:hover {
  border-color: #898989;
}
/* ------------//button-styling */

.bookmark .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmark .container .bookmark-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  max-width: 570px;
  margin-inline: auto;
}
/* ------------------------//BOOKMARK - PAGE */

/* Media queries */