*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-clr:#2e2d2c;
    --bg-clr:#efefef;
    --white-clr:#fff;
    --p1-font-size:3.25em;
    --p2-font-size:1.875em;
    --p3-font-size:1.25em;
    --p4-font-size:0.875em;
    --p5-font-size:1em;
    --spacer:1.25rem;
}
h1{
    font-size: 3.5em;
    color: var(--font-clr);
    font-weight: 500;
}

h3{
    font-size: 1.75em;
    color: var(--font-clr);
    font-weight: 500;
}
span{
    font-size:1em ;
    color: #2e2d2c;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.footer{
    color:var(--white-clr);
}
.btn button{
    font-size: 1em;
    font-weight: 600;
    color: rgb(104, 104, 104);
    border: none;
    background-color: transparent;
}
.container{
    min-height: inherit;
    padding:0 4.6875rem ;
    width: 100%;
}
.flex-row{
    display: flex;
}
.grid-row{
    display: grid;
}


/* main */
/* section 1 */
.section1{
    margin-bottom: 7rem;
    background-color: var(--bg-clr);
}
.section1 .heroimg img{
    width: 100%;
}
.section1 .heroimgnew{
   display: none;
}
.section1 .heroimgmob{
   display: none;
}
.section1 .content{
    position: absolute;
    width: 99vw;
    display: flex;
    padding-left: 5rem;
     justify-content: center;
     flex-direction: column;
    text-align: left;
    top: 50%;
}
.section1 .content h1{
    margin-bottom: .875rem;
}
/* //section 2 */
.section2{
    margin-bottom: 7rem;
}
.section2 .contain{
    padding: 0 0 0 4.6875rem ;
}
.section2 .contain .heading{
    padding-right: 4.6875rem;
    margin-bottom: 1.5rem;
    display: flex;
align-items: center;
justify-content: space-between;
}
.section2 .contain .about{
    padding-top: 12px;
}
.section2 .contain a{
    color: var(--font-clr);
}
.section2 .contain .about .price{
    margin-top: .3rem;
    color:gray;
    font-weight: 300;
}


/* section3 */
.section3{
    background-color: var(--bg-clr);
    margin-bottom: 7rem;
}
.section3 .container{
    position: relative;
    display: flex;
    height: 1020px;
    align-items: center;
    justify-content: center;
}
.section3 .expandview{
    margin-top: 0rem;
    height: 720px;
    background-color: #efefef;
  
}
.section3 .images{
position: relative;
height: 100%;
transform: translate(-200px,0%);
}
.section3 .images img{
    height: 100%;
}
.inside-left {
   position: absolute;
   top: 0;
   left:0;
   transition: all 0.3s ease;
}
.inside-right {
   position: absolute;
   top: 0;
   left:0;
   transition: all 0.3s ease;
}
.shoulder-4-left {
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.3s ease;
}
.shoulder-4-right {
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.3s ease;
}
.shoulder-3-left {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}
.shoulder-3-right {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}
.shoulder-2-left {
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.3s ease;
}
.shoulder-2-right {
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.3s ease;
}

.shoulder-1-left {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}
.shoulder-1-right {
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.3s ease;
}
.pad-front-left {
    position: absolute;
    top: 0;
    left:0%;
    transition: all 0.3s ease;
}

.pad-front-right {
    position: absolute;
    top: 0;
    left:0%;
    transition: all 0.3s ease;
}

.half-front-left {
    position: absolute;
    top: 0;
    left:0%;
    transition: all 0.3s ease;
}
.half-front-right {
    position: absolute;
    top:0;
    left: 0%;
    transition: all 0.3s ease;
}
.front-left {
    position: absolute;
    top: 0;
    left: 0%;
    transition: all 0.3s ease;
}
.front-right {
    position: absolute;
    top: 0;
    left: 0%;
    transition: all 0.3s ease;
}
.collar {
    position: absolute;
    top: 0;
    left: 0%;
    transition: all 0.3s ease;
}




.expandview.active .inside-left {
   transform: translate(-12%, 9%);
}
.expandview.active .inside-right{
   transform: translate(12%, 9%);
}
.expandview.active .shoulder-4-left {
    transform: translate(-24%, -10.25%)
}
.expandview.active .shoulder-4-right {
    transform: translate(24%, -10.25%)
}
.expandview.active .shoulder-3-left {
    transform: translate(-24%, -10.25%);
}
.expandview.active .shoulder-3-right {
    transform: translate(24.5%, -11.75%);
}
.expandview.active .shoulder-2-left {
    transform: translate(-25%, -13.5%);
}
.expandview.active .shoulder-2-right {
    transform: translate(25%, -13.5%);
}

.expandview.active .shoulder-1-left {
    transform: translate(-26%, -15.25%);
}
.expandview.active .shoulder-1-right {
    transform: translate(26%, -15.25%);
}
.expandview.active .pad-front-left {
    transform: translate(-28%, 9%);
}

.expandview.active .pad-front-right {
    transform: translate(28%, 9%);
}

.expandview.active .half-front-left {
    transform: translate(-39%, 9%);
}
.expandview.active .half-front-right {
    transform: translate(39%, 9%);
}
.expandview.active .front-left {
    transform: translate(-54%, 9%);
}
.expandview.active .front-right {
    transform: translate(54%, 9%);
}
.expandview.active .collar.active {
    transform: translateY(-4.5%);
}
.section3 .container .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
position: absolute;
width: 99vw;
text-align: center;
top: 45%;
}
.section3 .content :first-child{
    font-size: 1rem;
}
.section3 .content:nth-child(2){
    font-size: 3rem;
}


/* //section3 */

/* section 4 */
.section4{
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.section4 h3{
    margin-bottom: 1.5rem;
    font-weight: 500;
}
.section4 .bold{
    color: var(--bg-clr);
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 12px;
}
.section4 p{
    color: var(--bg-clr);
    font-size: 1em;
    line-height: 24px;
}
.section4 .container{
    max-width: 100%;
}
.section4 .flex-row{
    gap: 1.2rem;
}
.section4 .container img{
    width: 100%;
}
.section4 .container .text{
    text-align: center;
    position: relative;
    top: -18%;
}
/* //section 4 */


/* section5 */
.section5{
    margin-bottom: 7rem;
}
.section5 .container .heading{
    margin-bottom: 1.5rem;
    display: flex;
align-items: center;
justify-content: space-between;
}
.section5 .container{
    width: 100%;
}
.section5 .column h3{
    font-size: 14px;
margin-top: 1rem;
font-weight: 400;
}
.section5 .column p{
font-size: 20px;
max-width: 372px;
margin-top: 0.5rem;
font-weight: 600;
}
.section5 .container .flex-row{
    gap: 0.7rem;
}
.section5 .container .column{
    aspect-ratio: 578/694;
}
.section5 .container .column img{
    width: 100%;
}
/* //section5 */
/* //main */